<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /votre-projet/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /votre-projet/index.html [L]
</IfModule>
